{{ partial "head.html" . }}
<div class="site-wrap">
    {{ partial "header.html" . }}
    {{ if isset .Site.Params "description" }}
        <meta name="description" content="{{ .Site.Params.description }}">
    {{ end }}
    <div class="post p2 p-responsive wrap" role="main">
        <div class="measure">
            <h1>{{ .Title }}</h1>
            <p>{{ .Description }}</p>
            <div class="posts">
                {{ range (where .Site.RegularPages "Type" "post").GroupByDate "Jan 2006" }}
                    <h3>{{ .Key }}</h3>
                    <ul>
                    {{ range .Pages }}
                        {{ if eq .Type "post" }}
                            {{ .Render "summary"}}
                        {{ end }}
                    {{ end }}
                    </ul>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}