{{ partial "head.html" . }}
<div class="site-wrap">
  {{ partial "header.html" . }}
  <div class="post p2 p-responsive wrap" role="main">
    <div class="measure">
      <div class="post-header mb2">
        {{ $baseurl := .Site.BaseURL }}

        <h1 class="py2">{{ .Title }}</h1>
        <span class="post-meta">{{ .Date.Format "Jan 2, 2006" }} · {{ .ReadingTime }} minute read ·
          {{ if isset .Params "tags" }} {{ if len .Params.tags }}
            {{ range $i, $e := .Params.tags }}
              {{if $i}} ·&nbsp;{{end}}
              <a href="{{ $baseurl }}{{ $.Site.LanguagePrefix }}/tags/{{ . | urlize }}"><span class="tag">{{ partial "svg/label.html" }}&nbsp;{{ . }}</span></a>
              {{ end }}
            {{ end }}
          {{ end }}
        </span>
      </div>

      <article class="post-content">
      {{ .Content }}
      </article>

      {{ if .Params.reddit }}
        {{ partial "reddit.html" . }}
      {{ end }}

      {{ partial "comments.html" . }}
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
