article {
    display: flex;
    flex-direction: column;
}

.circle {
    object-fit: cover;
    border-radius: 50%;
}

.reddit {
    padding-top: 2em;
}

.reddit h4 {
    max-width: 600px;
    margin: auto;
}

.site-title {
    font-family: Lato,Helvetica,sans-serif;
    letter-spacing: .1rem;
    font-size: 1.0rem;
}

@keyframes transformTextIn {
    0%   { content: 'ldej'; }
    8%   { content: 'ladej'; }
    16%  { content: 'laudej'; }
    24%  { content: 'laurdej'; }
    32%  { content: 'lauredej'; }
    40%  { content: 'laurendej'; }
    48%  { content: 'laurencdej'; }
    56%  { content: 'laurencedej'; }
    64%  { content: 'laurence dej'; }
    72%  { content: 'laurence de j'; }
    80%  { content: 'laurence de jo'; }
    88%  { content: 'laurence de jon'; }
    100% { content: 'laurence de jong'; }
}

@keyframes transformTextOut {
    100% { content: 'ldej'; }
    88%  { content: 'ldejg'; }
    80%  { content: 'ldejng'; }
    72%  { content: 'ldejong'; }
    64%  { content: 'lde jong'; }
    56%  { content: 'l de jong'; }
    48%  { content: 'le de jong'; }
    40%  { content: 'lce de jong'; }
    32%  { content: 'lnce de jong'; }
    24%  { content: 'lence de jong'; }
    16%  { content: 'lrence de jong'; }
    8%   { content: 'lurence de jong'; }
    0%   { content: 'laurence de jong'; }
}

.logo-animated {
    width: 15em;
}

.logo-animated span {
    display: none;
}

.logo-animated:before {
    animation: transformTextOut 0.4s ease-in-out;
    content: 'LdeJ';
}

.logo-animated:hover:before {
    animation: transformTextIn 0.4s ease-in-out;
    content: 'Laurence de Jong';
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 90rem;
}

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    margin-top: 1.6rem;
    margin-bottom: 3.2rem;
}

.avatar img {
    height: 250px;
    width: 250px;
}

span.tag {
    color: #7a7a7a;
    font-size: 1em;
    font-style: normal;
    border: 1px lightgrey solid;
    border-radius: 25px;
    padding: 5px 10px;
    white-space: nowrap;
}

.tip {
    margin-top: 1.5em;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px lightgrey solid;
    border-radius: 10px;
    background: lightyellow;
}

.tip-title {
    font-size: 1rem;
}

.tip-content, .tip-content p, .tip-content li {
    font-size: 0.8rem;
}

.post-content figure {
    text-align: center;
}

.big-point {
    margin: 15px;
}

.big-point-number {
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 40px;
    background-color: #888;
    border-radius: 50%;
    display: inline-block;
    color: white;
}

.big-point-title {
    padding-left: 10px;
    font-size: 1.2em;
    display: inline;
    font-weight: bold;
}

.hero-image {
    /* Set a specific height */
    height: 300px;
    width: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    place-items: center;
}

.hero-text {
    text-align: center;
    color: white;
    max-width: 48rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.timeline-container {
    max-width: 1024px;
    margin: 0 0 0 5px;
}

.timeline-item {
    padding: 0.5em 0 0.1em 1em;
    position: relative;
    color: #333;
    border-left: 2px solid lightgrey;
}

.timeline-item p {
    font-size: 1rem;
}

.timeline-item::after {
     width: 10px;
     height: 10px;
     display: block;
     top: 1em;
     position: absolute;
     left: -8px;
     border-radius: 10px;
     content: '';
     border: 2px solid darkgray;
     background: white;
}

.timeline-item:last-child {
   border-image: linear-gradient(
       to bottom,
       lightgrey 60%,
       rgba(211, 211, 211, 0)) 1 100%;
}

.highlights ul {
    padding-inline-start: 20px;
    font-size: 0.9rem;
}

.position {
    font-weight: bold;
}

.keywords {
    font-style: italic;
}

.resume-basics .avatar {
    float: left;
    place-items: center;
    display: grid;
    margin-right: 2em;
}

.resume-basics .details p {
    line-height: 1.2;
}

.resume-basics .summary {
    clear: both;
}

.resume h3 {
    font-size: 1rem;
}

.resume h3 .date {
    font-weight: normal;
}

.post-content table {
    margin-bottom: 1rem;
    border-collapse: collapse;
}
.post-content table td {
    padding: 5px;
    border: 1px solid gray;
}

a.pdf {
    float: right;
    position: relative;
    top: -3em;
}

@media print {
    header, footer {
        display: none;
    }
    .measure {
        max-width: 100%;
    }
    .post {
        padding: 1em;
    }
    .avatar img {
        height: 100px;
    }
    p, li {
        font-size: 0.8rem;
        line-height: 1.2;
    }
    .timeline-item {
        padding: 0;
        border-left: none;
    }
    .timeline-item::after {
        display: none;
    }
    .timeline-item:last-child {
        border-image: none;
    }
    .clients-header {
        display: none;
    }
    h2 {
        border-bottom: 1px solid lightgrey;
    }
    a.pdf {
        display: none;
    }
}

.posts li {
    padding-bottom: 1em;
}

.skydive {
    background: url("images/skydive2.webp") center;
    background-size: cover;
    align-items: flex-end;
    margin-bottom: 0;
    padding-bottom: 2em;
    color: white;
}

.skydive svg {
    fill: white;
}

.filename {
    align-self: flex-end;
    z-index: 1;
    font-family: "Roboto Mono", monospace;
    font-weight: normal;
    font-size: 0.9em;
    margin-bottom: -1.8em;
    padding-right: 1em;
    padding-left: 1em;
    border: #d3d3d3 solid 1px;
    border-top-right-radius: 6px;
    background: #eaeaea;
}

blockquote {
    margin-left: -24px;
    padding: 0 0 0 1.33em;
    margin-bottom: 1.5em;
}

blockquote p {
    font-style: italic;
    color: #686868;
}

blockquote p:last-child {
    margin-block-end: 0;
}