<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Title }} | {{ .Site.Title }}</title>

    {{ partial "meta" . }}

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <!-- Custom CSS -->
    <!-- Those css minifined and combined together. See combined-min.css below
    <link rel="stylesheet" type="text/css" href="/css/basscss.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css"> -->

    <!-- Highlight -->
    <!-- Also minified and combined into combined-min.css
    <link rel="stylesheet" type="text/css" href="/css/highlight/styles/railscasts.css"> -->

    <!-- Fonts -->
    {{ partial "fonts.html" }}

    {{ $mycss := resources.Get "css/my.css"}}
    {{ $combinedcss := resources.Get "css/combined.css"}}
    {{ $syntaxcss := resources.Get "css/syntax.css"}}
    {{ $mycssbundle := slice $combinedcss $mycss $syntaxcss | resources.Concat "mybundle.css" | minify | fingerprint }}
    <style>
        {{ $mycssbundle.Content | safeCSS }}
    </style>

    {{ $myjs := resources.Get "js/my.js" }}
    {{ $myjsbundle := slice $myjs | resources.Concat "js/bundle.js" }}
    <script>
        {{ $myjsbundle.Content | safeJS }}
    </script>
</head>
