<div class="row">
    <div class="pr10">
        {{ partial "svg/home.html" }}
    </div>
    <div>
        Botterkamp 37,
        9412 AJ Beilen,
        The Netherlands
    </div>
</div>
<div class="row">
    <div class="pr10">
        {{ partial "svg/whatsapp.html" }}
    </div>
    <div>
        <a href="https://wa.me/918448244800">+91 844 8244 800</a>
    </div>
</div>
<div class="row">
    <div class="pr10">
        {{ partial "svg/email.html" }}
    </div>
    <div>
        <a href="mailto:info@ldej.nl">info@ldej.nl</a>
    </div>
</div>
<div class="row">
    <div class="pr10">
        {{ partial "svg/linkedin.html" }}
    </div>
    <div>
        <a href="https://www.linkedin.com/in/laurencedejong/">
            linkedin.com/in/laurencedejong
        </a>
    </div>
</div>
<div class="row">
    <div class="pr10">
        {{ partial "svg/github.html" }}
    </div>
    <div>
        <a href="https://github.com/ldej">
            github.com/ldej
        </a>
    </div>
</div>
<div class="row">
    <div class="pr10">
        {{ partial "svg/kvk.html" }}
    </div>
    <div>KvK: 85650285</div>
</div>
<div class="row">
    <div class="pr10">
        {{ partial "svg/btw.html" }}
    </div>
    <div>Btw-id: NL004126926B09</div>
</div>
