<div class="row">
    <div class="pr10">
        {{ partial "svg/whatsapp.html" }}
    </div>
    <div>
        <a href="https://wa.me/31625332538">+31 6 25 33 25 38</a>
    </div>
</div>
<div class="row">
    <div class="pr10">
        {{ partial "svg/email.html" }}
    </div>
    <div>
        <a href="mailto:laurence@ldej.nl">laurence@ldej.nl</a>
    </div>
</div>
<div class="row">
    <div class="pr10">
        {{ partial "svg/linkedin.html" }}
    </div>
    <div>
        <a href="https://www.linkedin.com/in/laurencedejong/">
            linkedin.com/in/laurencedejong
        </a>
    </div>
</div>
<div class="row">
    <div class="pr10">
        {{ partial "svg/github.html" }}
    </div>
    <div>
        <a href="https://github.com/ldej">
            github.com/ldej
        </a>
    </div>
</div>
