{{ $resume := .Site.Data.resume }}
<a class="pdf" href="/resume/Laurence.de.Jong.resume.pdf">download as pdf</a>

<div class="resume">
    <div class="resume-basics">
        <div class="avatar mobile-block">
            <picture>
                <source type="image/webp" srcset="/images/ldej.webp">
                <source srcset="/images/ldej.jpg">
                <img class="circle" alt="Laurence de Jong" src="/images/ldej.jpg">
            </picture>
        </div>
        <div class="details">
            <h1>{{ $resume.basics.name }}</h1>
            <p><a href="mailto:info-remove-@ldej.nl">info@ldej.nl</a> · <a href="tel:{{ $resume.basics.phone }}">{{ $resume.basics.phone }}</a></p>
            <p><a href="https://www.linkedin.com/in/laurencedejong/">linkedin.com/in/laurencedejong</a> · <a href="https://github.com/ldej">github.com/ldej</a></p>
        </div>
    </div>
    <div class="summary">
        {{ range $resume.basics.summary }}
            <p>{{ . }}</p>
        {{ end }}
    </div>
    <h2>Skills</h2>
    <div>
        {{ range $resume.skills }}
            <h3>{{ .title }}</h3>
            <ul>
                {{ range .points }}
                    <li>{{ . }}</li>
                {{ end }}
            </ul>
        {{ end }}
    </div>
    <h2>Experience</h2>
    <div class="resume-work timeline-container">
        {{ range $resume.work }}
            <div class="job timeline-item">
                <h3><a href="{{ .website }}">{{ .company }}</a>{{ if .via }} ({{ .via }}){{ end }} · <span class="position">{{ .position }}</span><span class="date"> | {{ .location }} · {{ .startDate }} - {{ .endDate }}</span></h3>
                <p class="keywords">{{ .keywords }}</p>
                <div class="highlights">
                    <ul>
                        {{ range .highlights }}
                            <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        {{ end }}
    </div>
    <h2>Volunteer</h2>
    <div class="volunteering timeline-container">
        {{ range $resume.volunteer }}
            <div class="volunteer timeline-item">
                <p class="position">{{ .position }} @ {{ .organization }}</p>
                <p><a href="{{ .website }}">{{ .website }}</a></p>
                <div class="highlights">
                    <ul>
                        {{ range .highlights }}
                            <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        {{ end }}
    </div>
    <h2>Education</h2>
    <div class="timeline-container">
        {{ range $resume.education }}
            <div class="education timeline-item">
                <p class="position">{{ .area }} · {{ .studyType }}</p>
                <p>{{ .startDate }} - {{ .endDate }}, {{ .institution }}</p>
            </div>
        {{ end }}
    </div>
    <h2>Publications</h2>
    <div class="timeline-container">
        {{ range $resume.publications }}
            <div class="timeline-item">
                <p class="position"><a href="{{ .website }}">{{ .name }}</a></p>
                <p>{{ .releaseDate }}, {{ .publisher }}</p>
            </div>
        {{ end }}
    </div>
</div>
